<a href="https://colab.research.google.com/github/DuplamenteH/Ds/blob/master/DS_Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importando dados

In [0]:
import pandas as pd
path="drive/My Drive/DadosAlura/"

In [0]:

data = pd.read_csv('drive/My Drive/DadosAlura/aluguel.csv', sep=';')
data.head()

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN

[5 rows x 9 columns]

In [0]:
data.tail()

                          Tipo                Bairro  ...  Condominio    IPTU
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[5 rows x 9 columns]

#Informações gerais sobre o banco de dados

In [0]:
data.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [0]:
tipo_dados= pd.DataFrame(data.dtypes, columns=['Tipos de dados'])
tipo_dados

           Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [0]:
tipo_dados.columns.name='Variaveis'
tipo_dados

Variaveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [0]:
print('A base de dados apresenta {} registros imóveis e {} variáveis'.format(data.shape[0], data.shape[1]))

A base de dados apresenta 32960 registros imóveis e 9 variáveis

#Extras

##Lendo arquivos JSON

In [0]:
df_json= pd.read_json('drive/My Drive/DadosAlura/aluguel.json')
df_json.head()

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN

[5 rows x 9 columns]

##Lendo arquivos HTML

In [0]:
path = 'drive/My Drive/DadosAlura/'
html = pd.read_html(path+'dados_html_1.html')
df_html=html[0]
df_html

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

##Lendo arquivos Excel

In [0]:
df_xlsx = pd.read_excel(path+'aluguel.xlsx')
df_xlsx

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

##Lendo arquivos txt

In [0]:
df_txt = pd.read_table(path+'aluguel.txt')
df_txt

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

# Relatório de Análise II

## Tipos de Imóveis

In [0]:
tipo_de_imoveis  = data['Tipo']
tipo_de_imoveis.dtype

dtype('O')

In [0]:
tipo_de_imoveis

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [0]:
tipo_de_imoveis.drop_duplicates(inplace=True)

In [0]:
tipo_de_imoveis

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

## Organizando Visualização

In [0]:
tipo_de_imovel = pd.DataFrame(tipo_de_imoveis)

In [0]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [0]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [0]:
tipo_de_imovel.columns.name = 'id'
tipo_de_imovel

id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

#Relatorio de analise III

In [0]:
dados = pd.read_csv('drive/My Drive/DadosAlura/aluguel.csv', sep=';')
dados

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [0]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [0]:
residencial = ['Quitinete', 
'Casa',
'Apartamento',
'Casa de Condomínio',
'Casa de Vila']

residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [0]:
dados

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [0]:
selecao = dados['Tipo'].isin(residencial)
selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [0]:
dados_residencial = dados[selecao]

In [0]:
dados_residencial.head(10)

                  Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0            Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                 Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
3          Apartamento           Centro        1  ...    800.0       390.0  20.0
4          Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
5          Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
6          Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
7   Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
8   Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
10         Apartamento           Centro        1  ...   1200.0         NaN   NaN
11         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [0]:
dados_residencial.shape[0]

22580

In [0]:
dados.shape[0]

32960

In [0]:
data.shape[0]

32960

In [0]:
dados_residencial.index = range(dados_residencial.shape[0])

In [0]:
dados_residencial.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
4         Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7  Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8         Apartamento           Centro        1  ...   1200.0         NaN   NaN
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

##Exportando base de dados

In [0]:
dados_residencial.to_csv('drive/My Drive/DadosAlura/aluguel_residencial.csv', sep=';',index=False)

#Relatorio  de  Analise IV

In [0]:
csv = path+'aluguel_residencial.csv'
dados_residencia = pd.read_csv(csv, sep=';')
dados_residencia

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

querys a ser feitas

Selecione somente os imóveis classificados com tipo 'Apartamento'.

Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [0]:
#Selecione somente os imóveis classificados com tipo 'Apartamento'.
selection = dados_residencia['Tipo']=='Apartamento'
apartamento = dados_residencia[selection]
numApartamento=apartamento.shape[0]
numApartamento

19532

In [0]:
#Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
selectionHouse = ((dados_residencia['Tipo']=='Casa')|(dados_residencia['Tipo']=='Casa de Condomínio')|(dados_residencia['Tipo']=='Casa de Vila'))
casas = dados_residencia[selectionHouse]
numCasas=casas.shape[0]
numCasas

2212

In [0]:
#Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
selectionArea = ((dados_residencia['Area']>=60) & (dados_residencia['Area']>=60))
area=dados_residencia[selectionArea]
numArea=area.shape[0]
numArea

18129

In [0]:
#Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selectionEconomica = ((dados_residencia['Quartos']>=4)& (dados_residencia['Valor']<2000))
economia = dados_residencia[selectionEconomica]
numEconomicos=economia.shape[0]
numEconomicos

41

#Relatorio de Analise V
##Tratamento de dados faltantes.

In [0]:
import pandas as pd
path = 'drive/My Drive/DadosAlura/'

df = pd.read_csv(path+'aluguel_residencial.csv',sep=';')
df.head(6)

          Tipo           Bairro  Quartos  Vagas  ...  Area   Valor  Condominio  IPTU
0    Quitinete       Copacabana        1      0  ...    40  1700.0       500.0  60.0
1         Casa  Jardim Botânico        2      0  ...   100  7000.0         NaN   NaN
2  Apartamento           Centro        1      0  ...    15   800.0       390.0  20.0
3  Apartamento     Higienópolis        1      0  ...    48   800.0       230.0   NaN
4  Apartamento     Vista Alegre        3      1  ...    70  1200.0         NaN   NaN
5  Apartamento         Cachambi        2      0  ...    50  1300.0       301.0  17.0

[6 rows x 9 columns]

In [0]:
df.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [0]:
df.isnull().sum()

Tipo             0
Bairro           0
Quartos          0
Vagas            0
Suites           0
Area             0
Valor            9
Condominio    1815
IPTU          6785
dtype: int64

In [0]:
dfValorNulo=df[df['Valor'].isnull()]
dfValorNulo

             Tipo           Bairro  Quartos  ...  Valor  Condominio   IPTU
58    Apartamento  Barra da Tijuca        2  ...    NaN       970.0   68.0
1492  Apartamento             Leme        2  ...    NaN       878.0    NaN
1683         Casa     Campo Grande        3  ...    NaN         NaN    NaN
2012  Apartamento         Botafogo        2  ...    NaN      1010.0  170.0
2034  Apartamento       Copacabana        2  ...    NaN       850.0    NaN
4941         Casa     Campo Grande        3  ...    NaN         NaN    NaN
8568  Apartamento             Leme        2  ...    NaN       878.0    NaN
8947  Apartamento           Glória        3  ...    NaN       910.0  228.0
9149  Apartamento            Gávea        3  ...    NaN       880.0  221.0

[9 rows x 9 columns]

In [0]:
dfIPTUNulo=df[df['IPTU'].isnull()]
dfIPTUNulo.head(10)

                  Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
1                 Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
3          Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
4          Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
6   Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7   Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8          Apartamento           Centro        1  ...   1200.0         NaN   NaN
12           Quitinete       Copacabana        1  ...   1800.0       501.0   NaN
14  Casa de Condomínio          Taquara        3  ...   2000.0         NaN   NaN
18  Casa de Condomínio  Barra da Tijuca        4  ...   7500.0      2695.0   NaN
19         Apartamento           Olaria        3  ...   1000.0       670.0   NaN

[10 rows x 9 columns]

In [0]:
dfCondominioNulo=df[df['Condominio'].isnull()]
dfCondominioNulo.head(10)

                   Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
1                  Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
4           Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
6    Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7    Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8           Apartamento           Centro        1  ...   1200.0         NaN   NaN
14   Casa de Condomínio          Taquara        3  ...   2000.0         NaN   NaN
24                 Casa     Campo Grande        4  ...  12000.0         NaN   NaN
83          Apartamento       Praça Seca        2  ...   1000.0         NaN   NaN
85         Casa de Vila          Piedade        2  ...   1300.0         NaN   NaN
100                Casa         Maracanã        8  ...   7000.0         NaN   NaN

[10 rows x 9 columns]

In [0]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())
selecao.shape[0]

32960

In [0]:
A = df.shape[0]
df = df[~selecao]
B = df.shape[0]
A - B

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

504

In [0]:
df[df['Condominio'].isnull()]

                     Tipo                    Bairro  ...  Condominio  IPTU
1                    Casa           Jardim Botânico  ...         NaN   NaN
4             Apartamento              Vista Alegre  ...         NaN   NaN
6      Casa de Condomínio           Barra da Tijuca  ...         NaN   NaN
7      Casa de Condomínio                     Ramos  ...         NaN   NaN
8             Apartamento                    Centro  ...         NaN   NaN
...                   ...                       ...  ...         ...   ...
22510                Casa              Campo Grande  ...         NaN   NaN
22516        Casa de Vila                    Pavuna  ...         NaN   NaN
22535                Casa  Recreio dos Bandeirantes  ...         NaN   NaN
22547                Casa             Bento Ribeiro  ...         NaN   NaN
22558                Casa                    Centro  ...         NaN  80.0

[1773 rows x 9 columns]

In [0]:
selectionCondominio = (df['Tipo'] == 'Apartamento') & (df['Condominio'].isnull())

In [0]:
selectionCondominio.shape[0]

22067

In [0]:
df = df.fillna({'Condominio': 0, 'IPTU': 0})

In [0]:
df.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False       False  False
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False       False  False
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False  False

[22067 rows x 9 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22067 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22067 non-null  object
 1   Bairro      22067 non-null  object
 2   Quartos     22067 non-null  int64
 3   Vagas       22067 non-null  int64
 4   Suites      22067 non-null  int64
 5   Area        22067 non-null  int64
 6   Valor       22067 non-null  float64
 7   Condominio  22067 non-null  float64
 8   IPTU        22067 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [0]:
df.to_csv(path+'aluguel_residencial.csv',sep=';',index=False)

Tudo q foi usado no relatorio V

Tratamento de dados faltantes
Como identificar valores nulos (missing values)
O método isnull() indica se os valores são nulos
O método notnull() retorna o contrário do método isnull()
O método info() também é uma forma de se verificar a presença de valores faltantes
Como remover valores nulos com o método dropna()
Tratamento condicional
Inversão de valores booleanos com ~
Como substituir os missing values com o método fillna()
Métodos de interpolação: ffill, bfill e mean()

#Relatorio de Analises VI

> Criação de variaveis

In [3]:
dados = pd.read_csv(path+'aluguel_residencial.csv', sep=';')
dados.head()

          Tipo           Bairro  Quartos  Vagas  ...  Area   Valor  Condominio  IPTU
0    Quitinete       Copacabana        1      0  ...    40  1700.0       500.0  60.0
1         Casa  Jardim Botânico        2      0  ...   100  7000.0         0.0   0.0
2  Apartamento           Centro        1      0  ...    15   800.0       390.0  20.0
3  Apartamento     Higienópolis        1      0  ...    48   800.0       230.0   0.0
4  Apartamento     Vista Alegre        3      1  ...    70  1200.0         0.0   0.0

[5 rows x 9 columns]

In [0]:
dados['Valor_Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

In [5]:
dados.head(10)

                 Tipo           Bairro  Quartos  ...  Condominio  IPTU  Valor_Bruto
0           Quitinete       Copacabana        1  ...       500.0  60.0       2260.0
1                Casa  Jardim Botânico        2  ...         0.0   0.0       7000.0
2         Apartamento           Centro        1  ...       390.0  20.0       1210.0
3         Apartamento     Higienópolis        1  ...       230.0   0.0       1030.0
4         Apartamento     Vista Alegre        3  ...         0.0   0.0       1200.0
5  Casa de Condomínio  Barra da Tijuca        5  ...         0.0   0.0      22000.0
6  Casa de Condomínio            Ramos        2  ...         0.0   0.0       1000.0
7         Apartamento           Centro        1  ...         0.0   0.0       1200.0
8         Apartamento           Grajaú        2  ...       642.0  74.0       2216.0
9         Apartamento       Copacabana        1  ...       561.0  50.0       2611.0

[10 rows x 10 columns]

In [0]:
dados['Valor_m²'] = dados['Valor'] / dados['Area']

In [7]:
dados.head(10)

                 Tipo           Bairro  Quartos  ...  IPTU  Valor_Bruto   Valor_m²
0           Quitinete       Copacabana        1  ...  60.0       2260.0  42.500000
1                Casa  Jardim Botânico        2  ...   0.0       7000.0  70.000000
2         Apartamento           Centro        1  ...  20.0       1210.0  53.333333
3         Apartamento     Higienópolis        1  ...   0.0       1030.0  16.666667
4         Apartamento     Vista Alegre        3  ...   0.0       1200.0  17.142857
5  Casa de Condomínio  Barra da Tijuca        5  ...   0.0      22000.0  29.333333
6  Casa de Condomínio            Ramos        2  ...   0.0       1000.0  15.384615
7         Apartamento           Centro        1  ...   0.0       1200.0  33.333333
8         Apartamento           Grajaú        2  ...  74.0       2216.0  21.428571
9         Apartamento       Copacabana        1  ...  50.0       2611.0  50.000000

[10 rows x 11 columns]

In [0]:
dados['Valor_m²'] = dados['Valor_m²'].round(2)

In [9]:
dados.head(10)

                 Tipo           Bairro  Quartos  ...  IPTU  Valor_Bruto  Valor_m²
0           Quitinete       Copacabana        1  ...  60.0       2260.0     42.50
1                Casa  Jardim Botânico        2  ...   0.0       7000.0     70.00
2         Apartamento           Centro        1  ...  20.0       1210.0     53.33
3         Apartamento     Higienópolis        1  ...   0.0       1030.0     16.67
4         Apartamento     Vista Alegre        3  ...   0.0       1200.0     17.14
5  Casa de Condomínio  Barra da Tijuca        5  ...   0.0      22000.0     29.33
6  Casa de Condomínio            Ramos        2  ...   0.0       1000.0     15.38
7         Apartamento           Centro        1  ...   0.0       1200.0     33.33
8         Apartamento           Grajaú        2  ...  74.0       2216.0     21.43
9         Apartamento       Copacabana        1  ...  50.0       2611.0     50.00

[10 rows x 11 columns]

In [0]:
dados['Valor_m²_Bruto'] = (dados['Valor_Bruto'] / dados['Area']).round(2)

In [11]:
dados.head(10)

                 Tipo           Bairro  ...  Valor_m²  Valor_m²_Bruto
0           Quitinete       Copacabana  ...     42.50           56.50
1                Casa  Jardim Botânico  ...     70.00           70.00
2         Apartamento           Centro  ...     53.33           80.67
3         Apartamento     Higienópolis  ...     16.67           21.46
4         Apartamento     Vista Alegre  ...     17.14           17.14
5  Casa de Condomínio  Barra da Tijuca  ...     29.33           29.33
6  Casa de Condomínio            Ramos  ...     15.38           15.38
7         Apartamento           Centro  ...     33.33           33.33
8         Apartamento           Grajaú  ...     21.43           31.66
9         Apartamento       Copacabana  ...     50.00           65.28

[10 rows x 12 columns]

In [0]:
casa = ['Casa','Casa de Condomínio', 'Casa de Vila']

In [0]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x : 'Casa' if x in casa else 'Apartamento')

In [19]:
dados.head(20)

                  Tipo                   Bairro  ...  Valor_m²_Bruto  Tipo Agregado
0            Quitinete               Copacabana  ...           56.50    Apartamento
1                 Casa          Jardim Botânico  ...           70.00           Casa
2          Apartamento                   Centro  ...           80.67    Apartamento
3          Apartamento             Higienópolis  ...           21.46    Apartamento
4          Apartamento             Vista Alegre  ...           17.14    Apartamento
5   Casa de Condomínio          Barra da Tijuca  ...           29.33           Casa
6   Casa de Condomínio                    Ramos  ...           15.38           Casa
7          Apartamento                   Centro  ...           33.33    Apartamento
8          Apartamento                   Grajaú  ...           31.66    Apartamento
9          Apartamento               Copacabana  ...           65.28    Apartamento
10           Quitinete               Copacabana  ...           85.22    Apartamento
11         Apartamento               Copacabana  ...           65.03    Apartamento
12  Casa de Condomínio                  Taquara  ...           17.39           Casa
13         Apartamento  Freguesia (Jacarepaguá)  ...           23.67    Apartamento
14         Apartamento          Barra da Tijuca  ...           36.36    Apartamento
15         Apartamento                   Tijuca  ...           24.89    Apartamento
16  Casa de Condomínio          Barra da Tijuca  ...           21.88           Casa
17         Apartamento                   Olaria  ...           24.56    Apartamento
18         Apartamento                   Tijuca  ...           34.62    Apartamento
19         Apartamento                  Ipanema  ...           76.50    Apartamento

[20 rows x 13 columns]

In [0]:
dados.drop(['Valor_Bruto', 'Valor_m²_Bruto'], axis = 1, inplace = True)

In [22]:
dados.head(10)

                 Tipo           Bairro  Quartos  ...  IPTU  Valor_m²  Tipo Agregado
0           Quitinete       Copacabana        1  ...  60.0     42.50    Apartamento
1                Casa  Jardim Botânico        2  ...   0.0     70.00           Casa
2         Apartamento           Centro        1  ...  20.0     53.33    Apartamento
3         Apartamento     Higienópolis        1  ...   0.0     16.67    Apartamento
4         Apartamento     Vista Alegre        3  ...   0.0     17.14    Apartamento
5  Casa de Condomínio  Barra da Tijuca        5  ...   0.0     29.33           Casa
6  Casa de Condomínio            Ramos        2  ...   0.0     15.38           Casa
7         Apartamento           Centro        1  ...   0.0     33.33    Apartamento
8         Apartamento           Grajaú        2  ...  74.0     21.43    Apartamento
9         Apartamento       Copacabana        1  ...  50.0     50.00    Apartamento

[10 rows x 11 columns]

In [0]:
dados.to_csv(path+'aluguel_residencial.csv', sep = ';', index = False)