<a href="https://colab.research.google.com/github/DuplamenteH/Ds/blob/master/DS_Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importando dados

In [0]:
import pandas as pd

In [2]:

data = pd.read_csv('drive/My Drive/DadosAlura/aluguel.csv', sep=';')
data.head()

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN

[5 rows x 9 columns]

In [3]:
data.tail()

                          Tipo                Bairro  ...  Condominio    IPTU
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[5 rows x 9 columns]

#Informações gerais sobre o banco de dados

In [4]:
data.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [5]:
tipo_dados= pd.DataFrame(data.dtypes, columns=['Tipos de dados'])
tipo_dados

           Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [6]:
tipo_dados.columns.name='Variaveis'
tipo_dados

Variaveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [7]:
print('A base de dados apresenta {} registros imóveis e {} variáveis'.format(data.shape[0], data.shape[1]))

A base de dados apresenta 32960 registros imóveis e 9 variáveis

#Extras

##Lendo arquivos JSON

In [8]:
df_json= pd.read_json('drive/My Drive/DadosAlura/aluguel.json')
df_json.head()

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN

[5 rows x 9 columns]

##Lendo arquivos HTML

In [9]:
path = 'drive/My Drive/DadosAlura/'
html = pd.read_html(path+'dados_html_1.html')
df_html=html[0]
df_html

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

##Lendo arquivos Excel

In [10]:
df_xlsx = pd.read_excel(path+'aluguel.xlsx')
df_xlsx

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

##Lendo arquivos txt

In [11]:
df_txt = pd.read_table(path+'aluguel.txt')
df_txt

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

# Relatório de Análise II

## Tipos de Imóveis

In [12]:
tipo_de_imoveis  = data['Tipo']
tipo_de_imoveis.dtype

dtype('O')

In [13]:
tipo_de_imoveis

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [0]:
tipo_de_imoveis.drop_duplicates(inplace=True)

In [15]:
tipo_de_imoveis

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

## Organizando Visualização

In [0]:
tipo_de_imovel = pd.DataFrame(tipo_de_imoveis)

In [17]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [0]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [19]:
tipo_de_imovel.columns.name = 'id'
tipo_de_imovel

id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

#Relatorio de analies III

In [42]:
dados = pd.read_csv('drive/My Drive/DadosAlura/aluguel.csv', sep=';')
dados

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [43]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [44]:
residencial = ['Quitinete', 
'Casa',
'Apartamento',
'Casa de Condomínio',
'Casa de Vila']

residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [45]:
dados

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [47]:
selecao = dados['Tipo'].isin(residencial)
selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [0]:
dados_residencial = dados[selecao]

In [50]:
dados_residencial.head(10)

                  Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0            Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                 Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
3          Apartamento           Centro        1  ...    800.0       390.0  20.0
4          Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
5          Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
6          Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
7   Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
8   Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
10         Apartamento           Centro        1  ...   1200.0         NaN   NaN
11         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [52]:
dados_residencial.shape[0]

22580

In [54]:
dados.shape[0]

32960

In [55]:
data.shape[0]

32960

In [0]:
dados_residencial.index = range(dados_residencial.shape[0])

In [57]:
dados_residencial.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
4         Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7  Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8         Apartamento           Centro        1  ...   1200.0         NaN   NaN
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

##Exportando base de dados

In [0]:
dados_residencial.to_csv('drive/My Drive/DadosAlura/aluguel_residencial.csv', sep=';',index=False)